@using Rafidah.Core.Entities
@model AppUser
<br />
<br />
<!-- Breadcumb Sections -->
<section class="breadcumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcumb-style1">
                    <div class="breadcumb-list">
                        <a asp-action="Index" asp-controller="Home">Home</a>
                        <a asp-action="Index" asp-controller="Freelancer">Freelancers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Service Details -->
    <section class="pt0 pb90 pb30-md">
        <div class="container">
            <div class="row wrap wow fadeInUp">
                <div class="col-lg-8">
                    <div class="column">
                        <div class="px30 pt30 pb-0 mb30 bg-white bdrs12 wow fadeInUp default-box-shadow1 bdr1">
                            <div class="position-relative overflow-hidden d-flex align-items-center">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="position-relative">
                                            <div class="list-meta d-sm-flex align-items-center" style="padding-bottom:20px">
                                                <a class="position-relative freelancer-single-style" href="#">
                                                    <span class="online"></span>
                                                    <img class="rounded-circle w-100 wa-sm mb15-sm" src="~/assets/images/team/fl-1.png" alt="Freelancer Photo">
                                                </a>
                                                <div class="ml20 ml0-xs">
                                                    <h5 class="title mb-1">@Model.Name</h5>
                                                    <p class="mb-0">@Model.Category.CategoryName</p>
                                                    <p class="mb-0 dark-color fz15 fw500 list-inline-item mb5-sm"><i class="fas fa-star vam fz10 review-color me-2"></i> 4.82 94 reviews</p>
                                                <p class="mb-0 dark-color fz15 fw500 list-inline-item ml15 mb5-sm ml0-xs"><i class="flaticon-place vam fz20 me-2"></i> @Model.City.CityName, @Model.Country.CountryName</p>
                                                    <p class="mb-0 dark-color fz15 fw500 list-inline-item ml15 mb5-sm ml0-xs"><i class="flaticon-30-days vam fz20 me-2"></i> Member since April 1, 2022</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="service-about">
                            <div class="p30 mb30 bg-white bdrs12 wow fadeInUp default-box-shadow1 bdr1">
                                <h4>Description</h4>
                                <p class="text mb30">@Model.Description</p>
                            </div>
                            <div class="p30 mb30 bg-white bdrs12 wow fadeInUp default-box-shadow1 bdr1">
                                <h4 class="mb30">Education</h4>
                            @foreach(var item in Model.Educations)
                            {
                            <div class="educational-quality">
                                    <div class="m-circle text-thm">M</div>
                                    <div class="wrapper mb40">
                                        <span class="tag">@item.Time</span>
                                        <h5 class="mt15">@item.Name</h5>
                                        <h6 class="text-thm">@item.UniversityName</h6>
                                        <p>@item.Description</p>
                                    </div>
                                </div>
                            }
                            </div>
                            <div class="p30 mb30 bg-white bdrs12 wow fadeInUp default-box-shadow1 bdr1">
                                <h4 class="mb30">Work & Experience</h4>
                                <div class="educational-quality">
                                    <div class="m-circle text-thm">M</div>
                                    <div class="wrapper mb40">
                                        <span class="tag">2012 - 2014</span>
                                        <h5 class="mt15">UX Designer</h5>
                                        <h6 class="text-thm">Dropbox</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                    </div>
                                    <div class="m-circle before-none text-thm">M</div>
                                    <div class="wrapper">
                                        <span class="tag">2008 - 2012</span>
                                        <h5 class="mt15">Art Director</h5>
                                        <h6 class="text-thm">amazon</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="p30 pt30 mb30 bg-white bdrs12 wow fadeInUp default-box-shadow1 bdr1">
                                <h4 class="mb30">Awards adn Certificates</h4>
                                <div class="educational-quality ps-0">
                                    <div class="wrapper mb40">
                                        <span class="tag">2012 - 2014</span>
                                        <h5 class="mt15">UI UX Design</h5>
                                        <h6 class="text-thm">Udemy</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum <br class="d-none d-lg-block"> primis in faucibus.</p>
                                    </div>
                                    <div class="wrapper">
                                        <span class="tag">2008 - 2012</span>
                                        <h5 class="mt15">App Design</h5>
                                        <h6 class="text-thm">Google</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum <br class="d-none d-lg-block"> primis in faucibus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="product_single_content mb30 p30 mb30 bg-white bdrs12 wow fadeInUp default-box-shadow1 bdr1">
                                <div class="mbp_pagination_comments">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="total_review mb30">
                                                <h4>80 Reviews</h4>
                                            </div>
                                            <div class="d-md-flex align-items-center mb30">
                                                <div class="total-review-box d-flex align-items-center text-center mb30-sm">
                                                    <div class="wrapper mx-auto">
                                                        <div class="t-review mb15">4.96</div>
                                                        <h5>Exceptional</h5>
                                                        <p class="text mb-0">3,014 reviews</p>
                                                    </div>
                                                </div>
                                                <div class="wrapper ml60 ml0-sm">
                                                    <div class="review-list d-flex align-items-center mb10">
                                                        <div class="list-number">5 Star</div>
                                                        <div class="progress">
                                                            <div class="progress-bar" style="width: 90%;" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="value text-end">58</div>
                                                    </div>
                                                    <div class="review-list d-flex align-items-center mb10">
                                                        <div class="list-number">4 Star</div>
                                                        <div class="progress">
                                                            <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="value text-end">20</div>
                                                    </div>
                                                    <div class="review-list d-flex align-items-center mb10">
                                                        <div class="list-number">3 Star</div>
                                                        <div class="progress">
                                                            <div class="progress-bar w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="value text-end">15</div>
                                                    </div>
                                                    <div class="review-list d-flex align-items-center mb10">
                                                        <div class="list-number">2 Star</div>
                                                        <div class="progress">
                                                            <div class="progress-bar" style="width: 30%;" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="value text-end">2</div>
                                                    </div>
                                                    <div class="review-list d-flex align-items-center mb10">
                                                        <div class="list-number">1 Star</div>
                                                        <div class="progress">
                                                            <div class="progress-bar" style="width: 20%;" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="value text-end">1</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mbp_first position-relative d-flex align-items-center justify-content-start mb30-sm">
                                                <img src="~/assets/images/blog/comments-2.png" class="mr-3" alt="comments-2.png">
                                                <div class="ml20">
                                                    <h6 class="mt-0 mb-0">Bessie Cooper</h6>
                                                    <div><span class="fz14">12 March 2022</span></div>
                                                </div>
                                            </div>
                                            <p class="text mt20 mb20">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                            <div class="review_cansel_btns d-flex">
                                                <a href="#"><i class="fas fa-thumbs-up"></i>Helpful</a>
                                                <a href="#"><i class="fas fa-thumbs-down"></i>Not helpful</a>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mbp_first position-relative d-flex align-items-center justify-content-start mt30 mb30-sm">
                                                <img src="~/assets/images/blog/comments-2.png" class="mr-3" alt="comments-2.png">
                                                <div class="ml20">
                                                    <h6 class="mt-0 mb-0">Darrell Steward</h6>
                                                    <div><span class="fz14">12 March 2022</span></div>
                                                </div>
                                            </div>
                                            <p class="text mt20 mb20">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                            <div class="review_cansel_btns d-flex pb30">
                                                <a href="#"><i class="fas fa-thumbs-up"></i>Helpful</a>
                                                <a href="#"><i class="fas fa-thumbs-down"></i>Not helpful</a>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="position-relative">
                                                <a href="page-service-single.html" class="ud-btn btn-light-thm">See More<i class="fal fa-arrow-right-long"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bsp_reveiw_wrt p30 mb30 bg-white bdrs12 wow fadeInUp default-box-shadow1 bdr1">
                                <h6 class="fz17">Add a Review</h6>
                                <p class="text">Your email address will not be published. Required fields are marked *</p>
                                <h6>Your rating of this product</h6>
                                <div class="d-flex">
                                    <i class="fas fa-star review-color"></i>
                                    <i class="far fa-star review-color"></i>
                                    <i class="far fa-star review-color"></i>
                                    <i class="far fa-star review-color"></i>
                                    <i class="far fa-star review-color"></i>
                                </div>
                                <form class="comments_form mt30 mb30-md">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-4">
                                                <label class="fw500 fz16 ff-heading dark-color mb-2">Comment</label>
                                                <textarea class="pt15" rows="6" placeholder="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb20">
                                                <label class="fw500 ff-heading dark-color mb-2">Name</label>
                                                <input type="text" class="form-control" placeholder="Ali Tufan">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb20">
                                                <label class="fw500 ff-heading dark-color mb-2">Email</label>
                                                <input type="email" class="form-control" placeholder="creativelayers088">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkbox-style1 d-block d-sm-flex align-items-center justify-content-between mb20">
                                                <label class="custom_checkbox fz15 ff-heading">
                                                    Save my name, email, and website in this browser for the next time I comment.
                                                    <input type="checkbox">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <a href="#" class="ud-btn btn-thm">Send<i class="fal fa-arrow-right-long"></i></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="column">
                        <div class="blog-sidebar ms-lg-auto">
                            <div class="price-widget pt25 bdrs12 default-box-shadow1s">
                                <h3 class="widget-title">$@Model.HourlyRate.Hourly <small class="fz15 fw500">/per hour</small></h3>
                                <div class="category-list mt20">
                                    <a class="d-flex align-items-center justify-content-between bdrb1 pb-2" href="#">
                                        <span class="text"><i class="flaticon-place text-thm2 pe-2 vam"></i>Location</span> <span class="">@Model.City.CityName, @Model.Country.CountryName</span>
                                    </a>
                                    <a class="d-flex align-items-center justify-content-between bdrb1 pb-2" href="#">
                                        <span class="text"><i class="flaticon-30-days text-thm2 pe-2 vam"></i>Member since</span> <span class="">April 2022</span>
                                    </a>
                                    <a class="d-flex align-items-center justify-content-between bdrb1 pb-2" href="#">
                                        <span class="text"><i class="flaticon-mars text-thm2 pe-2 vam"></i>Gender</span> <span class="">@Model.Gender.GenderName</span>
                                    </a>
                                    <a class="d-flex align-items-center justify-content-between bdrb1 pb-2" href="#">
                                        <span class="text"><i class="flaticon-translator text-thm2 pe-2 vam"></i>Languages</span> <span class="">@Model.Languages.LanguageName</span>
                                    </a>
                                    <a class="d-flex align-items-center justify-content-between mb-3" href="#">
                                        <span class="text"><i class="flaticon-sliders text-thm2 pe-2 vam"></i>English Level</span> <span class="">@Model.LanguagesLevel.LanguageLevelName</span>
                                    </a>
                                </div>
                                <div class="d-grid">
                                    <a href="page-contact.html" class="ud-btn btn-thm">Contact Me<i class="fal fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                            <div class="sidebar-widget mb30 pb20 bdrs12 default-box-shadow1s">
                                <h4 class="widget-title">My Skill</h4>
                                <div class="tag-list mt30">
                                    <a href="#">@Model.Category.CategoryName</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
